
!src/ontology/tmp/README.md
*.tmp
*.tmp.json
*.tmp.obo
*.tmp.owl
.DS_Store
.github/token.txt
bin/
semantic.cache
src/ontology/dosdp-tools.log
src/ontology/ed_definitions_merged.owl
src/ontology/imports/*_terms_combined.txt
src/ontology/merged-sepio-edit.owl
src/ontology/mirror
src/ontology/mirror/*
src/ontology/ontologyterms.txt
src/ontology/patterns
src/ontology/patterns 
src/ontology/reports/*
src/ontology/run.sh.conf
src/ontology/run.sh.env
src/ontology/seed.txt
src/ontology/sepio-base.*
src/ontology/sepio-basic.*
src/ontology/sepio-full.*
src/ontology/sepio-simple-non-classified.*
src/ontology/sepio-simple.*
src/ontology/sepio.json
src/ontology/sepio.obo
src/ontology/sepio.owl
src/ontology/simple_seed.txt
src/ontology/target/
src/ontology/tmp/*
src/ontology/tmp/merged-sepio-edit.owl
src/patterns/all_pattern_terms.txt
src/patterns/data/**/*.ofn
src/patterns/data/**/*.txt
src/patterns/imports/seed_sorted.txt
src/patterns/pattern_owl_seed.txt